**.pyc
__pychache__

.DS_Store

.idea
.vagrant

**.vdi


**.log
**.tar.gz

.ipynb_checkpoints

tmp/*

dataset/*
logs/*

build/*
dist/*

*.egg-info

sapsan/examples/GUI/st_custom.py
sapsan/examples/GUI/st_config_custom.txt
sapsan/examples/GUI/st_state_patch.py
